* {
    margin: 0 auto;
    padding: 0;
}

body {
    background-color: floralwhite;
}

h1 {
    font-family: 'Reenie Beanie', cursive;
    text-align: center;
    font-size: 2em;
    margin-top: 1.5em;
    margin-bottom: 2em;
    animation: 1s animationName;
    animation-duration: 3s;
    animation-fill-mode:forwards; 
    position: relative;
    width: 350px;
}

h1:hover {
    background-color: #EED2EE;
}

p {
    font-family: 'Reenie Beanie', cursive;
    font-size: 1.5em;
}

a { color: inherit; } 

a:hover {
 background-color: #EED2EE; 
 color: white;
 text-decoration:none; 
 cursor:pointer;  
}

p {
    margin-top: 1rem;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ECECEA; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
form {
    margin-bottom: 80px;
}

.header {
    height: 120px;
    background-color:#EED2EE;
}

.container{
    margin: 0 auto;
    padding: 0;
}

.site_nav ul{
    list-style-type: none;
    font-family: 'Reenie Beanie', cursive;
    font-size: 1.5em;
    color: black;
}

.cart_image img{
    height: 0px;
    background-color: none;
}

.qtybox{
    width: 3rem;
}

.flower_box{
    background-color: floralwhite;
}

.img-fluid{
    max-width: 100%; 
    height: auto;
}

.error_msg{
    text-align:center;
    background-color:#EED2EE;
    color: firebrick;
    width: 410px;  
}

.h3_login {

   font-family: 'Patrick Hand', cursive;
   font-size: 1em; 
   color: whitesmoke;
}

.h3_login_signedin {
    font-family: 'Patrick Hand', cursive;
    font-size: 1.3em; 
    color: whitesmoke;
}


.h3_alert_login {
    color: #EED2EE;
    font-family: 'Reenie Beanie', cursive;
    font-size: 1.5em;
}

.form1{
    margin-bottom: 20px;
    margin-top: 20px;
}

.h1_checkout{
    background-color: bisque;
}

.thank_you_text{
    margin-top: 10em;
    text-align: center;
    background: #EED2EE; 
    width: 250px;
}

.personal_box{
    background-color: bisque;
    width: 420px;
    font-size: 2em;
}

.choice_text {
    background-color: bisque;
    width: 300px;
    margin-top: 2.5em;
    font-size: 2.1em;
}

.shop{
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
}

.label_qty {
    font-family: 'Reenie Beanie', cursive;
}

.row {
    display: block;
    margin: auto;
    justify-content: center;  
}

.row img {
    max-width: 400px;
    margin-bottom: 10px;
    margin-top: 100px;
}

.Customer_info{
    margin-top: 3em;
    margin-bottom: 2em;
}

.welcome_text {
    margin-top: 4em;
}

.key {
    height: 10px;
}

.GoodBye_Box {
    text-align: center;
}

.GoodBye_Box img {
    text-align: center;
    height: 100px;
}

.total_sum_text {
    background-color: bisque;
    width: 200px;
    font-size: 2em;
}

.Login img {
    text-align: center;
    height: 220px;
    padding: 20px;
}

@media screen and (max-width: 576px) { 

    h1 {
        font-size: 2em;
    }

    .h1_login_register {
        margin-bottom: 0.5em;
    }
    
    .checkoutH1 {
        font-family: 'Reenie Beanie', cursive;
        text-align: center;
        font-size: 1.5em;
        margin-top: 1em;
        margin-bottom: 2em; 
        position: relative;
        width: 350px; 
    }
    
    .checkout_button {
      margin-top: 5em;  
  }

}

.purple_footer {
    height: 15em;
    background-color:#EED2EE;
    margin-bottom: 0;
    margin:  auto;
}

.form3 {
    margin-top: 20px;
}